@import '../../styles/base';

.service{
width: 70vw;
background: $blue-secondary;
display: flex;
justify-content: space-between;
align-items: center;
margin: 100px auto;
padding:50px;
border-radius: 10px;
min-width: 800px;
}

.service-container{
    width: 100%;
    background: $blue-secondary;
    margin-bottom: 200px;
}
.service-intro{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.service-heading{
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}
.service-img-box{
    width: 300px;
    border: 4px solid white;
}
.service-content{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}

.service-description{
    text-align: justify;
    padding: 30px ;
    font-size: 18px;
}

.book-btn{
    width: 200px;
    padding: 10px;
    background: $blue-tertiary;
    color:white;
    cursor: pointer;
}