@import '../../styles/base';

.service{
width: 80vw;
background: $blue-secondary;
display: flex;
justify-content: space-between;
align-items: center;
margin: 100px auto;
border-radius: 10px;
min-width: 450px;

@media only screen and (max-width:1100px){
   flex-direction: column;
   flex-wrap: wrap;
   align-items: center;
   margin: 50px auto;
   padding: 10px;
   }

}

.service-intro{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px;

    @media only screen and (max-width:900px){
        width: 300px;
       }
}

.service-heading{
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}
.service-img-box{
    width: 400px;
    border: 4px solid white;
}
.service-content{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    min-width: 400px;  
}

.service-description{
    text-align: justify;
    padding: 30px ;
    font-size: 18px;
}

.book-btn{
    width: 200px;
    padding: 10px;
    background: $blue-tertiary;
    color:white;
    cursor: pointer;
}
