.btn-primary{
    border: none;
    background: $blue-tertiary;
    padding: 15px 30px;
    color: $blue-secondary;
    border-radius: 30px;
    box-shadow: 4px 4px $gray-primary;
    font-weight: bold;

    &:hover{
      cursor: pointer;
    }
    &:active{
        transform: translateY(2px) scale(0.85);
    }
}

.heading{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    align-items: center;

    @media only screen and (max-width:900px){
        padding-top: 20px;
       }
}

.heading-text{
    color:$blue-secondary;
    font-size: 3rem;
    margin-left: 10px;
    letter-spacing: 1px;
    background-size: 100% 200%;
    background-image: linear-gradient(290deg, $blue-primary 50%, $blue-tertiary 50%);
    -webkit-transition: background-position 1s;
    -moz-transition: background-position 1s;
    transition: background-position 1s;

    @media only screen and (max-width:900px){
        font-size: 1.5rem;
       }
   
    &:hover{
        background-position: 0 100%;
    }
}

@keyframes heading{
    0%{
        background: linear-gradient(135deg, $blue-primary 10%, white 90%);
    }
    100%{
        background: linear-gradient(135deg, $blue-primary 50%, white 50%);
    }
}