@import '../../styles/base';

.navigation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 25px 0;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.logo{
    display: flex;
    align-items: center;

    span:first-child{
        font-size: 3rem;
        border: 1px solid $blue-primary;
        box-shadow: 2px 2px $blue-secondary;
        color: white;
        background: $blue-primary;
        padding: 5px 10px;
    }

    span:last-child{
        font-style: italic;
        color: $blue-primary;
    }
}

.nav-menu{

    display: flex;
    align-items: flex-start;
    a,a:link, a:visited{
        margin: 5px 10px;
        border: 1px solid $blue-tertiary;
        background: $blue-tertiary;
        color: WHITE;
        border-radius: 5px;
        padding: 5px;
        text-decoration: none;
     &:hover{
         color: #FFF;
         background:white;
         color:  $blue-tertiary;
         border: 1px solid  $blue-tertiary;
     }
     &:active{
        transform: translateY(2px) scale(0.85);

    }
    }
}