@import '../../styles/base';

.fa-home{
    color:$blue-secondary;
}


.contact-content{
    background: $blue-tertiary;
   @include background;
}

.contact-form{
    border: 10px solid white;
    width: 680px;

    @media only screen and (max-width:900px){
        width: 70vw;
       }
}

