@import '../../styles/base';

.header{
    margin-top: 100px;
    height:80vh;
    background-color: $blue-secondary;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .company-name{
        font-size: 5rem;
        letter-spacing: 5vw;
        color: $blue-primary;
    }

    .slogan{
        font-size: 3rem;
        color: $blue-primary;
        letter-spacing: 0.3vw;
        margin-bottom: 50px;
        transform: translateX(-3%);
    }
}