@import '../../styles/base';

.header{
    height:80vh;
    background-image: linear-gradient(to right,rgba(59, 88, 184, 0.795), rgba(59, 88, 184, 0.767)),
    url(https://images.pexels.com/photos/669610/pexels-photo-669610.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a{
        text-decoration: none;
    }
    .company-name{
        font-size: 5rem;
        letter-spacing: 5vw;
        color: $blue-secondary;
        animation: moveright 6s ease-out;
        transition: all 1s;
        &:hover{
            transform: translateY(-10px);
        }
    }

    .slogan{
        font-size: 3rem;
        color: $blue-secondary;
        letter-spacing: 0.3vw;
        margin-bottom: 50px;
        transform: translateX(-3%);
        animation: moveleft 6s ease-out;
    }
}

.btn-moveup{
    animation: moveup 3s ease;
}

@keyframes moveright {
    0% {
        transform: translateX(-30vw);
        opacity: 0;
    }
    80% {
        transform: translateX(5vw);
        opacity: 0.8;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }
  @keyframes moveleft {
    0% {
        transform: translateX(30vw);
        opacity: 0;
    }
    80% {
        transform: translateX(-5vw);
        opacity: 0.8;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
  }
  @keyframes moveup {
    0% {
        transform: translateY(50px);
    }
    80% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
  }