@import './styles/base';

.App{
    font-size: $small-font;
}

*{
    margin: 0;
    padding:0;
}

#home{
    position: absolute;
    top:0;
}

#services{
    position: absolute;
    top:500px;
}
#about{
    position: absolute;
    top: 2700px;
}

#activities{
    position: absolute;
    top: 3800px;
}
#contact{
    position: absolute;
    top: 4500px;
}